<div>
    <p hidden id="error" style="color:red"><%= locals.error %></p> 
</div>

<div id="friends_list_vue"></div>
<!-- Helper function -->
<script src="/static/helper.js"></script>

</main>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

</body>