<div id="nav-bar">
    <nav class="nav_top_bar">
        <logo class="logo_logo">LineX</logo>
        <a class="nav_top_bar_a" href="/home">Home</a>
        <a class="nav_top_bar_a" href="/account/calendar">Personal Calendar</a>
        <a class="nav_top_bar_a" href="/events">Events</a>
        <a class="nav_top_bar_a" href="/account">My account</a>
        <a class="nav_top_bar_a" href="/logout">Logout</a>
    </nav>
</div>