<!doctype html>
<html lang="en">

    <%- include('../helper/header'); -%>
    <%- include('../helper/topnavbar'); -%>

    <div id="friends_list_vue">
      <%- include('../helper/friends'); -%>
    </div> 

    <div id="home">

      <div class="right-container">
        <center>
          <h1>Welcome to LineX</h1>
        </center>

        <p>
          LineX is an app that allows you to schedule events with your friends that seem to always be busy. To do that first you need to input the times that you are busy in Personal Calendar. Then you can go to Events where you will see your upcoming events and the events you have been invited to. There you can also create a new event and invite your friends.
        </p>
      </div>
    </div> 

    <%- include('../helper/footer'); -%>
    
</html>