<!doctype html>
<html lang="en">

    <%- include('../helper/header'); -%>

    <div class="container-start">
        <h1 class="titleLineX">LineX</h1>

        <a class="start-button" href="/login">Login</a>
        <a class="start-button" href="/register">Register</a>
    </div>

    <%- include('../helper/footer'); -%>

</htm>