<!doctype html>
<html lang="en">

    <%- include('../helper/header'); -%>
    <%- include('../helper/topnavbar'); -%>

    <form action='/account/change/password' method='POST'>
        <div class="d-grid gap-2 position-absolute top-50 start-50 translate-middle">
            <p>We need some information in order to change the password</p> 
            <label for="old_password" class="form-label">Old password</label>
            <input name="old_password" type="password" class="form-control" placeholder="Old Password">
            <label for="new_password" class="form-label">New password</label>
            <input name="new_password" type="password" class="form-control" placeholder="New Password">
            <label for="confirm_password" class="form-label">Confirm new password</label>
            <input name="confirm_password" type="password" class="form-control" placeholder="Confirm your new password">
            <div>
                <button type="submit" class="btn btn-sm btn-primary w-100">Change Password</button>
            </div>
        </div>
    </form>

    <%- include('../helper/footer'); -%>

</html>